<%= render "shared/header"%>

<div class="devise-container">
  <div class="container-form">
    <div class="form-box" >
    <p class="box-row">ログイン</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <p class="require">必須</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "field-row" %>
      </div> 

      <div class="field">
        <p class="require">必須</p>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "field-row" %>
      </div>

      <div class="register">
        <%= f.submit "ログイン", class: "register-col" %>
      </div>
    <% end %>
    <%= link_to "新しいアカウントを作成", new_user_registration_path, class: "path" %>
  </div>
</div>

<%= render 'shared/footer'%>
