<%= render "shared/header", user:@user%>

<div class="reservations-index">
  <h4 class="pb-4">予約済みルーム一覧</h4>
  <table>
    <thead>
      <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計料金</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
      </tr>
    </thead>
    <tbody>    
    <% @reservations.each do |reser|%>
      <tr>
        <% if reser.room.room_image.present? %>  
          <td><%= image_tag reser.room.room_image, class: "room-picture", alt: "ルーム画像" %></td>
        <% end %>
        <td><%= reser.room.room_name %></td>
        <td><%= reser.room.room_introduction%></td> 
        <td><%= reser.total_amount%></td>
        <td><%= reser.start_day%></td>
        <td><%= reser.finish_day%></td>
        <td><%= reser.created_at%></td>          
      </tr>
      <% end %>
    
    </tbody>
  </table>
</div>

<%= render "shared/footer" %>