<%= render 'shared/header', user: @user %>

<div class="roomlist-container">
  <h2 class= "row-1">登録済みルーム一覧</h2>
  <table>
    <thead>
      <tr align="center">
        <th >ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>

          <% if room.room_image.present? %>  
            <td><%= image_tag room.room_image , class: "room-picture", alt: "ルーム画像" %></td> 
          <% end %>
          <td><%= room.room_name %></td>
          <td><%= room.room_introduction %></td>
          <td>¥<%= room.price %></td>
          <td><%= room.created_at %></td>
        </tr>
      <% end %>      
    </tbody>
  </table>
</div>

<%= render 'shared/footer' %>