<%= render 'shared/header', user: @user %>
<div class="container-field room">
  <h4 class="pb-4">検索結果:<%= @count%>件</h4>
  <div class="column">
    <% @results.each do |result|%>
      <div class="col-sm-6 col-lg-4 col-xl-3">      
        <div class="room-frame-inner">        
          <%= link_to room_path(result.id) do%>
            <div class="room-image-out">            
              <% if result.room_image.present? %>
                <%= image_tag result.room_image, class: "room-search-picture", alt: "ルーム画像" %>
              <% end %>
            </div>
            <div class="room-profile">
              <p>部屋名</p>
              <p class="room-profile-name font-weight"><%= result.room_name%></p>
              <p>住所</p>
              <p class="room-profile-city font-weight"><%= result.city%></p>
              <p>値段</p>
              <p class="room-profile-price font-weight">¥<%= result.price%></p>
            </div>
          <% end %>        
        </div>      
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>