<%= render 'shared/header', user: @user %>
  <div class="column">
    <div class="user-nav user-navi-pc d-block">
      <ul>
        <li class="active"><%= link_to 'アカウント', account_path(@user) %></li>
        <li class="active"><%= link_to 'プロフィール', edit_account_path %> </li>
      </ul>
    </div>
    <div class="col-md-10 acount-view">
      <div class="acount-view-box">
        <div class="update-content">
          <div class="column">
            <h5>プロフィール</h5>
          </div>
        </div>
        <%= form_with model: @user, url: account_path(@user), local: true do |f| %>
          <div class="update-content">          
            <% if @user.image.attached? %>
              <%# 画像が登録されている時処理  %>
              <div class="host-box">
                <%= image_tag @user.image, class: 'host-icon', alt: "ユーザー画像表示されていない" %>
              </div>
            <% else %>
              <%# 画像が登録されていない時のデフォルト %>
              <div class="host-box">
                <%= image_tag 'https://presite-potepancamp-rails-02.herokuapp.com/assets/default_icon-9263fc59c414b7228d256fc178dcb22183561357950a68f5ad086ba7ee054974.jpg', alt: "デフォ画像", class: 'host-icon' %>
              </div>
            <% end %>
          </div>
          <div class="update-content">
            <div class="column">
              <label class="col-md-3 label" for="name">アイコン画像</label>
              <p class="require-edit">必須</p>
              <div class="col-md-9">
                <%= f.file_field :image %>
              </div>
            </div>
          </div>
          <div class="update-content">
            <div class="column">
              <label class="col-md-3 label" for="name">名前</label>
              <p class="require-edit">必須</p>
              <div class="col-md-9">
                <%= f.text_field :name %> 
              </div>
            </div>
          </div>
          <div class="update-content">
            <div class="column">
              <label class="col-md-3 label" for="password">自己紹介</label>
              <p class="require-edit">必須</p>
              <div class="col-md-9">                
                <%= f.text_area :introduction,id: "introduction" %>
              </div>
            </div>
          </div>
          <div class="update-content">
            <div class="column">
              <%= f.submit '更新', class: "edit-btn" %>
            </div>
          </div>
        <% end %>  
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>